@{
    ViewData["Title"] = "AddToCart";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between mt-3 mx-3">
        <h4>Shopping Bag</h4>
        <div class="d-flex justify-content-end">
            <a asp-controller="Home" asp-action="Index" asp-area=""
               class="btn btn-outline-info d-flex align-items-center">
                <span class="material-symbols-outlined"> chevron_left </span> Back
            </a>
        </div>
    </div>
</div>
<div id="AddToCartPartial">
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var Id = JSON.parse(localStorage.getItem('productId'))
        console.log(typeof Id)
        GetData(Id);
    });
    function GetData(Id) {
        $.ajax({
            type: "GET",
            url: "/Home/GetCartDetails",
            traditional: true,
            data: { Id: Id },
            success: function (data) {
                $('#AddToCartPartial').html(data);
            }
        })
    }
</script>