@{
    ViewData["Title"] = "AddToCart";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between mt-3 mx-3">
        <h4>Shopping Bag</h4>
        <div class="d-flex ">
            <a asp-controller="Home" asp-action="Index" asp-area=""
               class="btn btn-outline-info d-flex align-items-center">
                <span class="material-symbols-outlined"> chevron_left </span> Back
            </a>
        </div>
    </div>
</div>
<div id="AddToCartPartial">
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var cart = JSON.parse(localStorage.getItem('cart')) || {};
        // console.log(typeof Id)
        console.log(cart)
        
       GetData(cart);
    });
    function GetData(cart) {
        $.ajax({
            type: "POST",
            url: "/Home/GetCartDetails",
            contentType: "application/json",
            data: JSON.stringify(cart),
            success: function (data) {
                $('#AddToCartPartial').html(data);
            }
        })
    }
</script>