@using Microsoft.AspNetCore.Http

@{
    var email = Context.Session.GetString("email");
    var count = Context.Session.GetInt32("CurrentCart");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DemoCrudMvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/DemoCrudMvc.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <style>
        .dropdown-menu-notifications {
            max-height: 400px;
            overflow-y: auto;
            max-width:400px;
            transform: translateX(-50%); /* Center the dropdown menu */
        }

        .notification-item {
            display: flex;
            flex-direction: column;
            padding: 15px;
            border-bottom: 1px solid #e3e3e3;
            background-color: #f9f9f9;
        }

            .notification-item:last-child {
                border-bottom: none;
            }

            .notification-item a {
                text-decoration: none;
                color: #333;
            }

                .notification-item a:hover {
                    background-color: #f1f1f1;
                }

        .notification-header {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .notification-time {
            font-size: 0.9em;
            color: #888;
        }

        .notification-panel {
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border-radius: 5px;
        }

        .notification-panel-header {
            padding: 10px 15px;
            background-color: #007bff;
            color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .notification-panel-footer {
            padding: 10px 15px;
            text-align: center;
            background-color: #f1f1f1;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    </style>
</head>



<body class="bg-light">
    <div id="loader">
        <div class="spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="">
        <nav class="navbar navbar-expand-sm navbar-light" id="neubar">
            <div class="container">
                @if (ViewData["Title"] as string != "TrackOrder")
                {
                    <a class="fs-3 nav-link" asp-action="Index" asp-controller="Home">Product Management </a>

                    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ms-auto ">


                            @if (email == null)
                            {
                                <li class="nav-item fs-5">
                                    <a class="nav-link" asp-action="Index" asp-controller="Login">Login</a>
                                </li>
                            }
                            @if (email != null)
                            {

                                <li class="nav-item  fs-5">
                                    <a class="navbar-brand mx-2" asp-action="Product" asp-controller="Home">Products</a>
                                </li>
                            }
                            @if (email != null)
                            {

                                <li class="nav-item  fs-5">
                                    <a class="navbar-brand mx-2" asp-action="Index" asp-controller="Category">Category</a>
                                </li>
                            }
                            @if (email != null)
                            {
                                <li class="nav-item fs-5">
                                    <a class="navbar-brand mx-3" asp-action="LogOut" asp-controller="Login">Logout</a>
                                </li>
                            }
                            @if (email == null)
                            {
                                <li class="nav-item fs-5">
                                    <a class="navbar-brand mx-3" asp-action="AddToCart" asp-controller="Home">
                                        <i class="bi bi-cart fs-3"></i>
                                        <span id="cartCount" class="cart-count"></span>
                                    </a>
                                </li>
                                

                             

                            }
                            @if (email != null)
                            {
                                <li class="nav-item fs-5">
                                    <a class="navbar-brand mx-3" asp-action="Index" asp-controller="Order">
                                        Order
                                    </a>
                                </li>
                                <li class=" dropleft">
                                    <a class="dropdown-toggle" style="text-decoration:none" data-toggle="dropdown" id="notificationDropdownToggle">
                                        <i class="fa fa-bell" aria-hidden="true"></i>
                                        (<span id="countNotify">0</span>) <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-notifications notification-panel" id="myNotifyList">
                                        <li class="notification-panel-header">Notifications</li>
                                        <li class="notification-panel-footer btn"><a class="btn btn-primary fw-bolder" asp-action="ReadAllNotification" asp-controller="Order">Read all notifications</a></li>
                                    </ul>
                                </li>
                            }

                        </ul>

                    </div>
                }
                else
                {
                    <a class="fs-3 nav-link" asp-action="Index" asp-controller="Home">Product Management   </a>
                }

            </div>
            </nav>
            <main role="main" class="pb-3">
                        @RenderBody()
            </main>
        </div>
   
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
                    @await RenderSectionAsync("Scripts", required: false)
        <script>
        // $(document).ready(function () {
        //     // Show the loader immediately when the document is ready
        //     $('#loader').show();
        // });

        // $(window).on('load', function () {
        //     // Hide the loader once the window has fully loaded
        //     $('#loader').fadeOut();
        // });
            // $(document).ajaxStart(function () {
            //     console.log("sdfs")
            //     $('#loader').fadeIn();
            // });

            // $(document).ajaxStop(function () {
            //     console.log("stop Ajax")
            //     $('#loader').fadeOut();
            // });

        </script>
    </body>
    </html>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var products = JSON.parse(localStorage.getItem('cart'));
        var count = products ? Object.keys(products).length : 0;
        console.log(count)
            document.getElementById("cartCount").textContent = count;
        });
    </script>

<script>
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-left",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        let notifications = [];
        let currentNotificationIndex = 0;
        let notificationInterval;
        let fetchInterval;

        function fetchNotificationsToaster() {
            $.ajax({
                type: "GET",
                url: "/Home/GetNotificationData",
                success: function (data) {
                    if (data.data === true) {
                        return;
                    } else {
                        console.log(data)
                        notifications = data.data.$values || [];
                        currentNotificationIndex = 0; 
                    }
                },
                error: function () {
                    console.error('Error fetching notifications.');
                }
            });
        }

        function displayNotifications() {
            if (notifications.length > 0) {
                let notification = notifications[currentNotificationIndex];
                let message = `OrderProductId: ${notification.OrderProductId}, Customer: ${notification.Customer.FirstName} ${notification.Customer.LastName}, Order: ${formatTimeDifference(notification.OrderTime)}`;
                toastr.info(message);
                currentNotificationIndex++;

                if (currentNotificationIndex >= notifications.length) {
                    currentNotificationIndex = 0;
                    clearInterval(notificationInterval);
                    fetchNotificationsToaster();
                    notificationInterval = setInterval(displayNotifications, 10000); 
                }
            }
        }

        function formatTimeDifference(timeDifference) {
            let [hours, minutes, seconds] = timeDifference.split(':');
            seconds = seconds.split('.')[0]; 
            hours = parseInt(hours, 10);
            minutes = parseInt(minutes, 10);
            seconds = parseInt(seconds, 10);
            return ` ${minutes}m ${seconds}s`;
        }

        fetchNotificationsToaster();

        setTimeout(() => {
            notificationInterval = setInterval(displayNotifications, 10000);
        }, 20000);


        function fetchNotifications() {
            $.ajax({
                url: '/Home/GetNotification', 
                type: 'GET',
                success: function (response) {
                    console.log(response);
                    updateNotifications(response.data.$values);
                },
                error: function (error) {
                    console.error('Error fetching notifications', error);
                }
            });
        }

        function updateNotifications(notifications) {
            var $notifyList = $('#myNotifyList');
            var $countNotify = $('#countNotify');
            $notifyList.find('.notification-item').remove();

            if (notifications.length > 0) {
                $countNotify.text(notifications.length);

                notifications.forEach(function (notification) {
                    var listItem = $('<li>').addClass('notification-item')
                        .append($('<a>')
                            .attr('href', '/Order/ReadOrderNotification?orderId=' + notification.OrderId)
                            .append($('<div>').addClass('notification-header').text(notification.CustomerName + ' placed an order'))
                            .append($('<div>').addClass('notification-time').text('Order ID: ' + notification.OrderId + ' at ' + notification.OrderTime))
                        );
                    $notifyList.find('.notification-panel-footer').before(listItem);
                });
            } else {
                $countNotify.text(0);
                $notifyList.find('.notification-panel-footer').before('<li class="notification-item">No new notifications</li>');
            }

           
        }

        fetchNotifications();
        setInterval(fetchNotifications, 60000);
    });
</script>

